.card-container {
    display: flex;
    justify-content: flex-start;  /* Align to the left */
    align-items: center;
    margin-top: 20px;  /* Adjust the spacing as needed */
  }
  
  .card {
    width: 300px;  /* Increased size */
    height: 400px;  /* Increased size */
    background-image: linear-gradient(144deg, #8608b4, #492fed 60%, #bd6fda);
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto 0;  /* Align to the left */
    font-family: inherit;
  }
  
  .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
  }
  
  .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
  }
  
  .card .img {
    width: 150px;  /* Increased size */
    height: 150px;  /* Increased size */
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    background-size: cover;
    transition: transform 0.3s;
  }
  
  .card .img:hover {
    transform: scale(1.1);  /* Pop up effect */
  }
  
  .flip-card {
    background-color: transparent;
    width: 120px;
    height: 40px;
    perspective: 1000px;
    margin: 30px auto;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-front {
    background-color: #e8e8e8;
    color: black;
  }
  
  .flip-card-back {
    background-color: #212121;
    color: white;
    transform: rotateY(180deg);
  }
  
  .button {
    border: none;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
  }
  