/* Form Styles */
.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 30px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    width: 350px;
  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 30px;
  }
  
  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 19px;
  }
  
  .input {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    padding: 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 25px;
  }
  
  .button-log {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 28px;
    height: 28px;
    fill: var(--main-color);
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  /* Button with animation styles */
  .button-confirm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em 1em 1em;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 4px 6px 0px black;
    border: 4px solid;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: box-shadow 250ms, transform 250ms, filter 50ms;
  }
  
  .button-confirm:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 3px 0px black;
  }
  
  .button-confirm:active {
    filter: saturate(0.75);
  }
  
  .button-confirm::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: pink;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }
  
  .button-confirm:hover::after {
    transform: translateX(0);
  }
  
  .bgContainer {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    max-width: 35%;
    font-size: 2em;
    font-weight: 600;
  }
  
  .bgContainer span {
    position: relative;
    transform: translateX(-100%);
    transition: all 250ms;
  }
  
  .button-confirm:hover .bgContainer > span {
    transform: translateX(0);
  }
  
  .arrowContainer {
    padding: 1em;
    margin-inline-end: 1em;
    border: 4px solid;
    border-radius: 50%;
    background-color: pink;
    position: relative;
    overflow: hidden;
    transition: transform 250ms, background-color 250ms;
    z-index: 100;
  }
  
  .arrowContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: yellow;
    transform: translateX(-100%);
    z-index: -1;
    transition: transform 250ms ease-in-out;
  }
  
  .button-confirm:hover .arrowContainer::after {
    transform: translateX(0);
  }
  
  .button-confirm:hover .arrowContainer {
    transform: translateX(5px);
  }
  
  .button-confirm:active .arrowContainer {
    transform: translateX(8px);
  }
  
  .arrowContainer svg {
    vertical-align: middle;
  }
  