/* projectform.css */

/* Form container styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative; /* Ensure relative positioning for absolute elements */
  }
  
  .form-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .form-group input:focus,
  .form-group textarea:focus,
  .form-group select:focus {
    border-color: #43e97b;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.1);
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  /* Button style */
  .create-button {
    background-color: #4db8ff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .create-button:hover {
    background-color: #3299cc;
    transform: scale(1.1);
  }
  
  /* Background animation */
  .background-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    overflow: hidden;
    z-index: -1;
  }
  
  .background-animation .ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .background-animation .ball:nth-child(1) {
    background-color: #43e97b;
    top: 10%;
    left: 10%;
    animation-name: moveBall1;
  }
  
  .background-animation .ball:nth-child(2) {
    background-color: #ff4b2b;
    top: 20%;
    left: 80%;
    animation-name: moveBall2;
  }
  
  .background-animation .ball:nth-child(3) {
    background-color: #ff6f61;
    top: 50%;
    left: 20%;
    animation-name: moveBall3;
  }
  
  .background-animation .ball:nth-child(4) {
    background-color: #845ec2;
    top: 70%;
    left: 60%;
    animation-name: moveBall4;
  }
  
  .background-animation .ball:nth-child(5) {
    background-color: #ffc75f;
    top: 80%;
    left: 30%;
    animation-name: moveBall5;
  }
  
  .background-animation .ball:nth-child(6) {
    background-color: #00c9a7;
    top: 15%;
    left: 50%;
    animation-name: moveBall6;
  }
  
  .background-animation .ball:nth-child(7) {
    background-color: #f9f871;
    top: 30%;
    left: 15%;
    animation-name: moveBall7;
  }
  
  .background-animation .ball:nth-child(8) {
    background-color: #ff4d4d;
    top: 60%;
    left: 25%;
    animation-name: moveBall8;
  }
  
  .background-animation .ball:nth-child(9) {
    background-color: #c4f0c5;
    top: 40%;
    left: 75%;
    animation-name: moveBall9;
  }
  
  .background-animation .ball:nth-child(10) {
    background-color: #ffaf40;
    top: 85%;
    left: 45%;
    animation-name: moveBall10;
  }
  
  @keyframes moveBall1 {
    0%, 100% { top: 10%; left: 10%; }
    50% { top: 80%; left: 90%; }
  }
  
  @keyframes moveBall2 {
    0%, 100% { top: 20%; left: 80%; }
    50% { top: 70%; left: 20%; }
  }
  
  @keyframes moveBall3 {
    0%, 100% { top: 50%; left: 20%; }
    50% { top: 30%; left: 70%; }
  }
  
  @keyframes moveBall4 {
    0%, 100% { top: 70%; left: 60%; }
    50% { top: 20%; left: 40%; }
  }
  
  @keyframes moveBall5 {
    0%, 100% { top: 80%; left: 30%; }
    50% { top: 40%; left: 80%; }
  }
  
  @keyframes moveBall6 {
    0%, 100% { top: 15%; left: 50%; }
    50% { top: 70%; left: 70%; }
  }
  
  @keyframes moveBall7 {
    0%, 100% { top: 30%; left: 15%; }
    50% { top: 80%; left: 50%; }
  }
  
  @keyframes moveBall8 {
    0%, 100% { top: 60%; left: 25%; }
    50% { top: 30%; left: 90%; }
  }
  
  @keyframes moveBall9 {
    0%, 100% { top: 40%; left: 75%; }
    50% { top: 20%; left: 10%; }
  }
  
  @keyframes moveBall10 {
    0%, 100% { top: 85%; left: 45%; }
    50% { top: 10%; left: 50%; }
  }
  